@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "figtree";
  src: url("/assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "figtree";
  src: url("/assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 500;
}

@layer base {
  html {
    @apply text-paragraph;
    @apply font-main;
    @apply bg-custom-yellow;
  }
}

@layer components {
  .card-with-shadow {
    position: relative;
    top: 0px;
    left: 0px;
    transition:
      top 0.2s ease-in-out,
      left 0.2s ease-in-out;
  }

  .card-with-shadow::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 8px;
    left: 8px;
    border-radius: 1.5rem;
    z-index: -10;
    transition:
      top 0.2s ease-in-out,
      left 0.2s ease-in-out;
  }
  .card-with-shadow:hover {
    top: -3px;
    left: -3px;
  }
  .card-with-shadow:hover::before {
    top: 11px;
    left: 11px;
  }
}
